@import "styles/theme";

.cluster-alert-select {
  background: transparent;
  border-radius: 0;
  border: 2px solid $text;
  color: $text;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  margin-top: 0.25rem;
  outline: 0;
  padding: 4px;

  option {
    color: #000;
  }
}
