@import 'styles/theme';

.modal-content {
  .box {
    .control-plane {
      &.advanced {
        margin: 37px 0 57px;
      }

      .toggle-container {
        justify-content: center;
      }

      .boxes-container {
        height: 160px;
        display: flex;
        justify-content: space-around;
        margin: 35px 0;

        .box-content {
          width: 222px;
          border: 1px solid var(--gray-blue-4, $gray-blue-4);
          display: flex;
          flex-direction: column;

          .icon-plus {
            color: var(--off-white, $off-white);
            display: flex;
            background-color: var(--gray-blue-4, $gray-blue-4);
            align-items: center;
            justify-content: center;
            padding: 3px 4px;
            font-size: 14px;
            cursor: pointer;
          }

          .title {
            margin: 0;
            background-color: var(--gray-blue-4, $gray-blue-4);
            text-align: center;
            padding: 2px 3px;
          }

          p {
            font-size: 12px;
          }

          ul {
            list-style: none;
            border-radius: 2px;
            padding: 2px;
            overflow: auto;
            flex: 1;

            li {
              padding: 2px 6px;
              font-size: 12px;
              display: flex;
              align-items: center;
    
              &:hover {
                background-color: var(--gray-blue-3, $gray-blue-3);
              }
    
              p {
                flex: 1;
              }
    
              i {
                font-size: 8px;
                display: flex;
                cursor: pointer;
    
                &:hover {
                  color: var(--error, $error);
                }
              }
            }
          }
        }
      }
    }
  }
}