section {
  .content {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .input {
      margin-bottom: 6px;
    }

    .roles-content {
      margin-bottom: 30px;

      .select {
        margin-bottom: 20px;
      }

      .input:nth-child(3) {
        width: 220px;
      }
    }

    .rules-content {
      flex: 1;

      h3 {
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 22px;
        text-transform: uppercase;
      }
    }
  }
}

.button-container-rbac {
  display: flex;
  justify-content: flex-end;
  margin: 0 32px 24px;


  .button--black {
    margin-right: 16px;
  }
}
