@font-face {
    font-family: "icons";
    src: url("./icons.eot?de12566ff3da29b93475d0af796c3e3c?#iefix") format("embedded-opentype"),
url("./icons.woff2?de12566ff3da29b93475d0af796c3e3c") format("woff2"),
url("./icons.woff?de12566ff3da29b93475d0af796c3e3c") format("woff"),
url("./icons.ttf?de12566ff3da29b93475d0af796c3e3c") format("truetype"),
url("./icons.svg?de12566ff3da29b93475d0af796c3e3c#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
    content: "\f101";
}
.icon-arrow-solid-up:before {
    content: "\f102";
}
.icon-arrow-up:before {
    content: "\f103";
}
.icon-close-solid:before {
    content: "\f104";
}
.icon-close:before {
    content: "\f105";
}
.icon-cluster:before {
    content: "\f106";
}
.icon-dots:before {
    content: "\f107";
}
.icon-git:before {
    content: "\f108";
}
.icon-helm:before {
    content: "\f109";
}
.icon-network:before {
    content: "\f10a";
}
.icon-node:before {
    content: "\f10b";
}
.icon-plus:before {
    content: "\f10c";
}
.icon-settings:before {
    content: "\f10d";
}
.icon-stop:before {
    content: "\f10e";
}
.icon-workload:before {
    content: "\f10f";
}
