@font-face {
    font-family: "icons";
    src: ;
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-access:before {
    content: "\f101";
}
.icon-add-circle:before {
    content: "\f102";
}
.icon-arrow-down:before {
    content: "\f103";
}
.icon-arrow-right-solid:before {
    content: "\f104";
}
.icon-arrow-right:before {
    content: "\f105";
}
.icon-arrow-solid-up:before {
    content: "\f106";
}
.icon-arrow-up:before {
    content: "\f107";
}
.icon-beetle:before {
    content: "\f108";
}
.icon-check:before {
    content: "\f109";
}
.icon-close-solid:before {
    content: "\f10a";
}
.icon-close:before {
    content: "\f10b";
}
.icon-cluster-actions-critical:before {
    content: "\f10c";
}
.icon-cluster-actions-default:before {
    content: "\f10d";
}
.icon-cluster-actions-resume:before {
    content: "\f10e";
}
.icon-cluster:before {
    content: "\f10f";
}
.icon-clustersIcon:before {
    content: "\f110";
}
.icon-dots:before {
    content: "\f111";
}
.icon-git:before {
    content: "\f112";
}
.icon-helm:before {
    content: "\f113";
}
.icon-logs:before {
    content: "\f114";
}
.icon-network:before {
    content: "\f115";
}
.icon-node:before {
    content: "\f116";
}
.icon-nodepool-actions-critical:before {
    content: "\f117";
}
.icon-play:before {
    content: "\f118";
}
.icon-plus:before {
    content: "\f119";
}
.icon-settings:before {
    content: "\f11a";
}
.icon-stop:before {
    content: "\f11b";
}
.icon-union:before {
    content: "\f11c";
}
.icon-workload:before {
    content: "\f11d";
}
