--- 
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata: 
  name: selfsigned
spec: 
  selfSigned: {}

--- 
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata: 
  name: letsencrypt-prod
spec: 
  acme: 
    email: {{.Values.ingress.tls.email}}
    privateKeySecretRef: 
      name: letsencrypt-prod
    server: "https://acme-v02.api.letsencrypt.org/directory"
    solvers: 
      - 
        http01: 
          ingress: 
            class: nginx