@import 'styles/theme';

.modal-content {
  .box {
    .infra-network {
      .input-container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 278px 153px 190px;
        justify-content: center;
      }

      .subnet {
        margin-top: 39px;
        position: relative;
        z-index: 1;

        .toggle-container {
          margin: 0 18px;
        }

        .title-box {
          margin-bottom: 27px;
          background-color: var(--gray-blue-600, $gray-blue-600);
          width: fit-content;
          margin: auto;
          padding: 0 4px;

          &::before {
            content: '';
            border: 1px solid var(--gray-blue-400, $gray-blue-400);
            width: 678px;
            height: 258px;
            position: absolute;
            left: 0;
            z-index: -1;
            top: 8px;
          }
        }

        .input-container {
          margin-top: 28px;
        }

        .subnet-inputs {
          display: grid;
          grid-template-columns: 278px 153px 190px;
          grid-gap: 10px;
          justify-content: center;
          margin-top: 10px;
        }

        ul {
          width: 436px;
          height: 84px;
          margin: 28px auto 17px;
          list-style: none;
          border: 1px solid var(--gray-blue-400, $gray-blue-400);
          border-radius: 2px;
          padding: 2px;
          overflow: auto;

          li {
            padding: 2px 6px;
            font-size: 12px;
            display: flex;
            align-items: center;

            &:hover {
              background-color: var(--gray-blue-500, $gray-blue-500);
            }

            p {
              flex: 1;
            }

            i {
              font-size: 8px;
              display: flex;
              cursor: pointer;

              &:hover {
                color: var(--error, $error);
              }
            }
          }
        }
      }
    }
  }
}
