<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Buttons.css">
    <title>Document</title>
</head>
<body style="background-color: var(--background-default);">
    <div>
        <button class="btn">button</button>
        <button class="btn btn-primary">button</button>
        <button class="btn btn-success">button</button>
        <button class="btn btn-warning">button</button>
        <button class="btn btn-critical">button</button>
    </div>
    <br>
    <div>
        <button class="btn btnBorder">button</button>
        <button class="btn btnBorder-primary">button</button>
        <button class="btn btnBorder-success">button</button>
        <button class="btn btnBorder-warning">button</button>
        <button class="btn btnBorder-critical">button</button>
    </div>
</body>
</html>