.tableFooterContainer {
  margin: 32px 16px 16px 16px;
}

.tableFooter {
  height: 44px;
  background-color: var(--background-strong);
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.navFooterResults {
  display: flex;
  align-items: center;
  height: 100%;
}

.navFooterResultsText {
  color: var(--text-default);
  font-size: 16px;
  padding: 0 40px 0 0;
  font-weight: 500;
}

.navFooterJumpToPage {
  display: flex;
  align-items: center;
  height: 100%;
}

.navFooterJumpToPageText {
  color: var(--text-default);
  font-size: 12px;
  padding: 0 4px 0 4px;
}

.paginationSearchArea {
  display: flex;
  height: 44px;
  margin-right: 16px;
  background-color: var(--background-medium);
}

.paginationSearchBox {
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  width: 44px;
  max-width: 44px;
  padding-left: 2px;
  padding-right: 2px;
  line-height: 18px;
  border: none;
  background-color: var(--background-light);
  color: var(--text-strong);
}

.paginationSearchBox::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-default);
  opacity: 1; /*Firefox*/
}

.paginationSearchBox:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text-default);
}

.paginationSearchBox::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--text-default);
}

.paginationNavContainer {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.paginationNavArrowLeft {
  width: 15px;
  height: 22px;
  background-image: url('/img/pagNavLeftIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 12px 0 12px;
}

.paginationNavArrowRight {
  width: 15px;
  height: 22px;
  background-image: url('/img/pagNavRightIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 12px 0 12px;
}

.paginationNavPagesText {
  color: var(--text-default);
  font-size: 12px;
  line-height: 22px;
}

.paginationNavPagesInterval {
  color: var(--text-default);
  font-size: 12px;
  line-height: 22px;
  padding: 0 2px 0 2px;
}

.paginationNavCurrentPage {
  color: var(--text-strong);
  font-size: 16px;
  padding: 0 16px 0 16px;
  line-height: 22px;
  font-weight: 500;
}
