@import '~Styles/theme';

.tag {
  font-size: 14px;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 2px;
  margin: 5px 0 0 10px !important;

  &.tag--version {
    background-color: $primary-color-light;
  }

  &.tag--deprecated {
    background-color: #fa1d38;
    color: white;
  }
}
