@import "styles/theme";

.change-version-sub-heading {
  color: #657f97;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.25;
  text-transform: uppercase;

  span {
    color: $text;
    text-transform: none;
  }
}

.change-version-select-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto auto 0;
}

.change-version-select-label {
  color: #c4c7cc;
  font-family: $font-base;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
}
