@import 'styles/theme';

.rbac-route {
  margin-top: 32px;

  h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: 400;
  }

  .assign-role {
    display: flex;
    height: 70px;
    background-color: var(--gray-blue-500, $gray-blue-500);
    align-items: center;
    padding: 0 16px;

    .input {
      input {
        margin: 0;
      }
    }
  
    .add-role {
      margin-left: 24px;
      cursor: pointer;
      display: flex;
      align-items: center;
      color: var(--gray-500, $gray-500);

      i {
        margin-right: 8px;
        display: flex;
      }
    }
  }
}