@import 'styles/theme';

.nodepool-alert-input {
  background-color: #111214;
  border: 0;
  color: $text;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.375;
  outline: 0;
  padding: 0.5rem 1rem;
}
