@import 'styles/theme';

.cluster-progress-container {
  background-color: $gray-blue-700;
  box-sizing: border-box;
  height: 395px;
  overflow: auto;
  padding: 16px 30px 30px;
  position: relative;
  width: 100%;
}

.cluster-progress-bar-container {
  height: 6px;
  width: 100%;
  margin-top: 40px;
}

.cluster-progress-bar {
  background: #39e9aa;
  height: 6px;
  width: 100%;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.cluster-progress-bar.progress {
  animation: progress 60s linear forwards;
}

.cluster-progress-bar.finished {
  transition: 2s all;
  width: 100%;
}

.cluster-progress-message {
  color: $gray-500;
  font-family: monospace, monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 9.5px !important;
}
