@import 'styles/theme';

.menu-top-container {
  height: 48px;
  background-color: var(--menu-top, $menu-top);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;

  .img-container {
    padding: 0 68px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-color: var(--gray-blue-550, $gray-blue-550);
      width: 2px;
      height: 32px;
      right: 0;
      top: -6px;
    }
  }

  ul {
    display: flex;
    padding: 0 32px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.5px;

    .logout {
      margin-left: auto;
    }

    li {
      padding: 0 20px;
      color: var(--text-gray-middle, $text-gray-middle);
      list-style: none;
      cursor: pointer;

      .dropdown-menu-container {
        display: none;
      }

      &:hover {
        .dropdown-menu-container {
          display: block !important;
        }
      }

      .disabled {
        color: var(--gray-800, $gray-800);

        &:hover {
          color: var(--gray-800, $gray-800) !important;
          cursor: default !important;
        }
      }

      p {
        color: var(--text-gray-middle, $text-gray-middle);

        &:hover {
          color: var(--text, $text);
        }
      }
    }
  }
}
