
@import 'styles/theme';

.bread-crumb {
  background-color: var(--gray-blue-400, $gray-blue-400);
  height: 42px;
  align-items: center;
  display: flex;
  margin: -16px 0 20px -25px;
  padding: 0 21px;
  text-transform: uppercase;
  font-size: 14px;

  li {
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: 500;

    p {
      cursor: pointer;
      color: var(--gray-500, $gray-500);
    }

    i {
      margin: 0 8px;
      display: flex;
      color: var(--text, $text);
      font-size: 12px;
    }
  }

  li:last-child {
    i {
      display: none;
    }
  }

  li:nth-child(2) {
    p {
      font-weight: 600;
      color: var(--text, $text);
    }
  }

}