.data-cell-container {
  align-items: center;
  border: 1px solid #2e3237;
  display: flex;
  font-family: Montserrat, sans-serif;
  height: 2rem;
  margin-top: 15px;
}

.data-cell-label {
  align-items: center;
  background: #2e3237;
  color: #9fa3a9;
  display: flex;
  flex-shrink: 0;
  font-size: 0.875rem;
  font-weight: 500;
  height: 100%;
  justify-content: flex-end;
  line-height: 1.125;
  max-width: 12.5rem;
  padding-inline: 10px;
  text-align: end;
  width: 20%;
}

.data-cell-content {
  align-items: center;
  background: #212427;
  color: #ffffff;
  display: flex;
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
  height: 100%;
  justify-content: space-between;
  line-height: 1.25;
  padding-inline: 10px;
  text-transform: uppercase;
  width: calc(100% - 115px);

  * {
    margin: 0 !important;
  }
}

.borderless {
  border: 0 !important;
}
