@import 'styles/theme';

.select {
  margin-bottom: 8px;
  display: block;

  .title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    label {
      color: var(--gray-500, $gray-500);
      background-color: var(--gray-blue-600, $gray-blue-600);
      border-radius: 2px;
      font-weight: 500;
      font-size: 12px;
      padding: 0 2px;
      position: absolute;
      top: -7px;
      left: 8px;
      display: flex;
      justify-content: center;
      z-index: 1;
    }
  }

  .select-container {
    &__control {
      border-radius: 2px;
      border: 1px solid var(--gray-500, $gray-500);
      outline: none;
      box-shadow: none;
      background-color: var(--gray-blue-600, $gray-blue-600);

      &:hover {
        box-shadow: none;
        border: 1px solid var(--gray-500, $gray-500);
      }
    }

    &__placeholder {
      margin: 0;
      padding: 5px 0;
      font-size: 14px;
      color: #6c6c6c;
    }

    &__single-value {
      font-size: 14px;
      color: var(--text, $text);
    }

    &__value-container {
      font-size: 14px;
      color: var(--gray-blue-600, $gray-blue-600);
      padding-left: 8px;
      background-color: var(--gray-blue-600, $gray-blue-600);
    }

    &__Input {
      margin: 0;
      padding: 0;
    }

    &__indicator-separator {
      display: none;
    }

    &__indicators {
      fill: white !important;

      &:hover {
        fill: white !important;
      }

      &__dropdown-indicator {
        svg {
          fill: white !important;

          &:hover {
            fill: white !important;
          }
        }
      }
    }

    &__menu {
      z-index: 2;
      font-size: 14px;
      color: var(--gray-blue-600, $gray-blue-600);
      background-color: var(--background, $blackground);
    }

    &__option {
      color: var(--text, $text);
      font-size: 14px;
      background-color: var(--background, $blackground);

      &:hover {
        background-color: var(--menu-left, $menu-left);
        color: var(--gray-500, $gray-500) !important;
      }

      &--is-selected {
        background-color: $blackground;
        color: var(--text, $text);
        font-weight: 600;
      }

      &--is-focused {
        background-color: var(--blackground, $blackground);
      }
    }
  }
}
