@import "styles/theme";

.table {
  border-collapse: collapse;
  font-family: $font-base;
  overflow: hidden;
  color: var(--off-white, $off-white);
  box-sizing: border-box;
  border-style: hidden;
  width: 90%;
  max-height: 200px;
  overflow-y: auto;

  .header {
    padding: 10px 12px;
  }

  .action-row {
    width: 35px;
    padding: 0;
  }

  td {
    box-sizing: border-box;

    &:not(:last-child) {
      border-right: 2px solid var(--table-black-color, $table-black-color);
    }
  }

  thead {
    background-color: var(--table-color-3, $table-color-3);

    tr {
      border-bottom: 1px solid transparent;
    }
  }

  tbody {
    .select-row {
      width: 35px;
      position: relative;

      ul {
        position: absolute;
        width: 112px;
        list-style: none;
        background-color: #495059;
        border: 1px solid #7b7f86;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        li {
          display: flex;
          padding: 8px 10px;
          cursor: pointer;
    
          p {
            font-size: 14px;
            display: flex;
            align-items: center;
          }
      
          &:hover {
            background-color: #657F97;
          }
    
          i {
            display: flex;
            align-items: center;
            margin-right: 6px;
            font-size: 20px;
          }
        }
      }
    }

    td {
      padding: 8px 12px;

      div {
        display: flex;
      }

      i:hover {
        cursor: pointer;
      }
    }

    tr {
      background-color: var(--table-color-1, $table-color-1);

      &:not(:last-child) {
        border-bottom: 1px solid var(--table-color-2, $table-color-2);
      }

      &:nth-child(2n) {
        background-color: var(--table-color-2, $table-color-2);
      }
    }
  }
}
