@import 'styles/theme';

.cluster-error-container {
  background-color: $gray-blue-700;
  border-top: 6px solid $error;
  margin-top: 44px;
  padding: 64px 0px;
  width: 100%;
}

.cluster-error-heading {
  color: $text;
  font-family: $font-base;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
  margin: 0 auto 28px;
  max-width: 20ch;
  text-align: center;
  text-transform: uppercase;
}

.cluster-error-icon {
  display: block;
  margin: 0 auto 36px;
}

.cluster-error-description {
  color: $text;
  font-family: $font-base;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px !important;
  text-align: center;
  text-transform: uppercase;
}

.cluster-error-message {
  color: $gray-500;
  font-family: $font-base;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
}
