//font
$font-base: 'Montserrat', sans-serif;

//Main colors
$primary: #03dac5;
$primary-light: #42e1ce;
$secondary: #00c8ff;

//Action colors
$success: #12e4b0;
$warning: #fff394;
$error: #dc344a;

//UI colors
$blackground: #29292b;
$menu-left: #303134;
$menu-top: #282c31;
$menu-stroke: #353a41;
$dropdown: #495059;
$menu-left-dividers: #353a41;

//Gray scale
$black: #1b1b1c;
$gray-900: #353536;
$gray-800: #515155;
$gray-600: #636363;
$gray-500: #868b93;
$gray-300: #a8a8a8;
$gray-200: #bbb;
$gray-100: #dfdfdf;

//Text
$text-gray-middle: #a9a9a9;
$text-gray: #d3d3d3;
$text: #fff;
