//font
$font-base: "Montserrat", sans-serif;

//Main colors
$primary: #657f97;
$primary-light: #799ec0;

//Action colors
$success: #39e9aa;
$success-darker: #4dcd9f; 
$warning: #f2c76e;
$warning-darker: #d8ad54;
$error: #d14a4f;
$error-light: #ff5a60;
$error-darker: #aF4044;

//UI colors
$blackground: #29292b;
$menu-left: #303134;
$menu-top: #282c31;
$menu-stroke: #353a41;
$dropdown: #495059;
$menu-left-dividers: #353a41;

//Gray scale
$black: #2d3033;
$area-focus: #717c8a;
$gray-900: #303030;
$gray-800: #6c6c6c;
$gray-700: #82868b;
$gray-600: #a9a9a9;
$gray-500: #D7D7D7;
$gray-300: #f8f8f8;

//Gray blue scale
$gray-blue-900: #111214;
$gray-blue-800: #191a1d;
$gray-blue-700: #212427;
$gray-blue-600: #282c31;
$gray-blue-550: #373c43;
$gray-blue-500: #3b434e;
$gray-blue-400: #495059;
$gray-blue-200: #656d7a;
$gray-blue-100: #7f8996; 

//Text
$text-gray-middle: #a9a9a9;
$text: #fff;

//table
$table-color-2: #3c424a;
$table-color-3: #2d3033;
$table-color-4: #60666c;
