@import 'styles/theme';

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  font-family: $font-base;
}

.route-container {
  background: url('../assets/images/background.png');
  min-height: 100vh;

  .menu-side-container {
    position: absolute;
    left: 0;
  }

  .route-content {
    padding-left: 245px;
    padding-top: 16px;
  }

  h1 {
    margin: 0;
  }
}

body {
  position: relative;
  margin: 0 !important;
}

button {
  outline: none;
}

#app {
  position: relative;
  min-height: 100vh;
}

p,
h1,
h2,
h3,
h4,
li {
  color: var(--text, $text);
}
