---
charts: {}
dev: false
image:
  pullPolicy: IfNotPresent
  pullSecrets: []
global:
  undistroVersion: v0.34.7
  undistroRepository: registry.undistro.io/library
ingress:
  annotations: {}
  enabled: true
  hosts:
    - localhost
    - undistro.local
  tls:
    commonName: "UnDistro Local Authority - ECC Root"
    email: undistro@getup.io
    secretName: undistro-ingress-cert
local: false
prometheus:
  enabled: false
resources:
  limits:
    cpu: "2"
    memory: 1024Mi
  requests:
    cpu: "0.5"
    memory: 256Mi
identity:
  enabled: false
  name: undistro-identity
  namespace: undistro-system
  paused: false
  oidc:
    federationDomain:
      issuer: https://example.supervisor.com
      tlsSecretName: undistro-ingress-cert
    provider:
      issuer:
        name: ""
        # optional
        url: ""
        # optional
        aditionalScopes: []
        # optional
        tlsSecretName: ""
      claims: {}
    credentials:
      clientID: some-cool-id
      clientSecret: super-secret-client-secret
