@import 'styles/theme';

.input {
  display: flex;
  flex-direction: column;
  position: relative;

  .icon-plus {
    color: var(--gray-500, $gray-500);
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 11px;
  }

  label {
    color: var(--gray-500, $gray-500);
    background-color: var(--gray-blue-600, $gray-blue-600);
    border-radius: 2px;
    font-weight: 500;
    font-size: 12px;
    padding: 0 2px;
    position: absolute;
    top: -7px;
    left: 8px;
    display: flex;
    justify-content: center;
  }

  .disabled-label {
    color: #6c6c6c;
  }

  input {
    border-radius: 2px;
    box-sizing: border-box;
    height: 38px;
    outline: none;
    font-size: 14px;
    border: 1px solid var(--gray-500, $gray-500);
    margin-bottom: 15px;
    background-color: var(--gray-blue-600, $gray-blue-600);
    color: var(--gray-500, $gray-500);
  }

  input[disabled] {
    border-color: #6c6c6c;
    color: #6c6c6c;
  }

  input[type='text'] {
    box-sizing: border-box;
    padding-left: 10px;
  }

  &--error {
    input {
      border: 1px solid var(--error, $success);
    }
  }

  &--success {
    input {
      border: 1px solid var(--error, $error);
    }
  }

  &--warning {
    input {
      border: 1px solid var(--warning, $warning);
    }
  }
}
